<!DOCTYPE html>
<head>

</head>
<body>
  <h1>Log API</h1>
  <strong>JSON data that has information derived from logs</strong>
  <ul>
    <li>
      /log
    </li>
    <li>
      POST: /log
    </li>
  </ul>
  <form action="/log" method="POST" enctype="multipart/form-data">
    <h2>File Upload</h2>
    <div>
      <label for="fileUpload"></label>
      <input name="fileUpload" id="fileUpload" type="file" />
    </div>
    <div>
      <input type="submit" value="Upload log file">
    </div>
  </form>
</body>