<!DOCTYPE html>
<head>

</head>
<body>
  <h1>Risk Service API</h1>
  <strong>Dynamically enforce types of authentication</strong>
  <ul>
    <li>
      /risk
    </li>
    <li>
      /risk/isuserknown/<i>{username}</i>
    </li>
    <li>
      /risk/isclientknown/<i>{client}</i>
    </li>
    <li>
      /risk/isipknown/<i>{ip}</i>
    </li>
    <li>
      /risk/isipinternal/<i>{ip}</i>
    </li>
    <li>
      /risk/lastsuccessfullogindate/<i>{username}</i>
    </li>
    <li>
      /risk/lastfailedlogindate/<i>{username}</i>
    </li>
    <li>
      /risk/failedlogincountlastweek
    </li>
  </ul>
</body>